## 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

Sure, here's an example of how to create the years_list from birth year until fifth birthday:


years_list = [1995, 1996, 1997, 1998, 1999, 2000]

## 2.In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
years_list = [1995, 1996, 1997, 1998, 1999, 2000]
years_list[3]

1998

## 3.In the years list, which year were you the oldest?

For example, if you were born in 1995 and turned five in 2000, then the last year in the years_list would be the year you turned five. Therefore, the year you were the oldest would be the year before that, which is 1999.

years_list[-2]

## 4.Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,&quot;salmonella&quot;.

In [3]:
things=["mozzarella", "cinderella","salmonella"]

## 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]

for i in range(len(things)):
    if "ella" in things[i]:
        things[i] = things[i].title()

print(things)

['Mozzarella', 'Cinderella', 'Salmonella']

## 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [5]:
surprise=["Groucho" ,"Chico",  "Harpo"]

## 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [9]:
surprise = ['Groucho', 'Chico', 'Harpo']

# Lowercase the last element
last_element = surprise[-1].lower()

# Reverse the lowercase last element
reversed_element = last_element[::-1]

# Capitalize the reversed element
capitalized_element = reversed_element.capitalize()

# Replace the original last element with the new capitalized element
surprise[-1] = capitalized_element

print(surprise)

['Groucho', 'Chico', 'Oprah']

## 8.Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

Here's an example of how to create an English-to-French dictionary called e2f with the starter words provided and print it:

In [10]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

## 9.Write the French word for walrus in your three-word dictionary e2f.

In [11]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
french_word = e2f['walrus']
print(french_word)

morse

## 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [12]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# Create f2e dictionary from e2f using items() method and dictionary comprehension
f2e = {value: key for key, value in e2f.items()}

# Print f2e dictionary
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

## 11. Print the English version of the French word chien using f2e.

In [13]:
english_word = f2e['chien']
print(english_word)

dog

## 12.Make and print a set of English words from the keys in e2f.

In [18]:
values=e2f.keys()
print(values)

dict_keys(['dog', 'cat', 'walrus'])

## 13.Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.Make all the other keys refer to empty dictionaries.

In [21]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

## 14. Print the top-level keys of life.

In [22]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life.keys())

dict_keys(['animals', 'plants', 'other'])

## 15.Print the keys for life[&#39;animals&#39;].

In [23]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

## 16.Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [24]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']